.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	.main {
		flex: 1 1 auto;
		background: #f1f3f6;
	}
	.wrapper {
		margin: 20px 0 50px;
		background-color: #fff;
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
}
