.header {
	background-color: var(--primaryDark);
	color: #fff;
	// position: sticky;
	// top: 0;
	// left: 0;
	// z-index: 100;

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}

	.left {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	.burgerWrapper {
		width: 34px;
		height: 34px;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		cursor: pointer;
		transition: var(--transition);
		background-color: transparent;
		&:hover {
			transition: var(--transition);
			.burger {
				height: 20px;
			}
		}
		&:active {
			transform: scale(1.1);
			transition: var(--transition);
		}
	}

	.burger {
		width: 22px;
		height: 16px;
		position: relative;
		z-index: 10;
		transition: var(--transition);
		span {
			transition: 0.5s;
			height: 2px;
			position: absolute;
			border-radius: 10px;
			background-color: #fff;
			transition: 0.1s;
			&:nth-child(1) {
				top: 0;
				width: 100%;
				transition: 0.1s;
				left: 0;
			}
			&:nth-child(2) {
				top: calc(50% - 1px);
				left: 0px;
				width: 65%;
				transition: 0.1s;
			}
			&:nth-child(3) {
				top: calc(100% - 2px);
				left: 0px;
				width: 65%;
				transition: 0.1s;
			}
		}
		&.active {
			span {
				transition: 0.1s;
				&:nth-child(1) {
					top: 50%;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: rotate(-45deg);
					top: 50%;
					width: 100%;
				}
			}
		}
	}

	.menuList {
		display: flex;
		gap: 10px;
		a {
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			line-height: 120%;
			padding: 4px;
			transition: var(--transition);
			&:hover {
				text-shadow: 0px 0px 30px #48637f, 0px 0px 25px white,
					0px 0px 15px #48637f, 0px 0px 5px #48637f;
			}
		}
	}

	.center {
		display: flex;
		gap: 10px;
		margin-right: 80px; //pozmaly
		a {
			color: var(--white);
			font-family: var(--font-inter);
			font-size: 13px;
			font-weight: 700;
			transition: var(--transition);
			padding: 8px 10px;
			border-radius: 4px;
			&:hover {
				background-color: var(--primaryDark);
			}
		}
	}

	.right {
		display: flex;
		gap: 20px;
	}

	.search {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: var(--primaryDark);
		border-radius: 4px;
		transition: var(--transition);
		&:active {
			background-color: var(--whiteOpacity);
		}
	}
	.icons {
		display: flex;
		padding: 0 16px;
		gap: 16px;
		border-radius: 5px;
	}

	.icon {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: var(--primaryDark);
		border-radius: 4px;
		transition: var(--transition);
		&:hover {
			background-color: var(--whiteOpacity);
		}
	}

	.expandedMenu {
		height: 0;
		top: 54px;
		left: 0;
		z-index: 10;
		background-color: var(--primaryDark);
		width: 100%;
		transition: 0.5s;
		overflow: hidden;
		overflow-y: auto;
		&.open {
			height: 284px;
		}
		.categoriesList {
			padding: 14px 20px;
			display: flex;
			flex-wrap: wrap;
			border-top: 2px double #22384f;
			border-bottom: 2px double #22384f;
			li {
				width: calc((100% - 6rem) / 4);
				a {
					color: var(--text);
					font-size: 15px;
					font-weight: 600;
					line-height: 120%;
					transition: var(--transition);
					text-transform: uppercase;
					&:hover {
						color: #fff;
					}
				}
			}
		}

		.expandedMenuList {
			padding: 40px 20px 26px 20px;
			display: flex;
			flex-wrap: wrap;
			li {
				width: calc((100% - 6rem) / 4);
				margin-bottom: 14px;
				a {
					color: var(--text);
					font-size: 14px;
					font-weight: 400;
					line-height: 120%;
					transition: var(--transition);
					text-transform: uppercase;
					&:hover {
						color: #fff;
					}
				}
			}
		}

		.misc {
			padding: 14px 20px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			border-top: 2px double #22384f;
			border-bottom: 2px double #22384f;
			li {
				width: calc((100% - 6rem) / 4);
				display: flex;
				gap: 16px;
				border-radius: 5px;
				a {
					color: var(--text);
					font-size: 14px;
					font-weight: 400;
					line-height: 120%;
					transition: var(--transition);
					text-transform: uppercase;
					&:hover {
						color: #fff;
					}
				}
				.social {
					width: 24px;
					height: 24px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					background-color: var(--primaryDark);
					border-radius: 4px;
					transition: var(--transition);
					&:hover {
						background-color: var(--whiteOpacity);
					}
				}
			}
		}
	}
}
