.pagesHeader {
	h1 {
		color: var(--primary);
		font-family: var(--font-oswald);
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 14px;
	}
	.authorBlock {
		text-align: center;
		color: #000;
		font-family: var(--font-oswald);
		font-size: 16px;
		font-weight: 300;
		h2 {
			margin-bottom: 6px;
		}
	}
}
